<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Katana Inventory</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">

  </head>
  <body>
    <nav
      class="flex justify-center bg-black text-white text-[3rem] p-3 items-center font-satisfy"
    >
      <div>Katana Kaji</div>
    </nav>
    <main>
      <div
        class="w-[100vw] md:w-[80vw] bg-gray-100  h-screen m-auto mb-3 md:rounded-xl   shadow-2xl grid xl:grid-cols-4 grid-cols-2 auto-rows-max md:gap-3 p-6 md:mt-8"
      >
        <div
          class="item mt-4 flex shadow-xl rounded-xl col-span-2 font-inter p-1 bg-white"
        >
          <div class="image grid place-items-center">
            <img
              src="https://tozandoshop.com/cdn/shop/products/SET2036-2_db6156aa-6acf-434a-bf9e-79896c5b8b1f_340x.jpg?v=1589532235"
              alt=""
              class="w-24 h-24 md:w-36 md:h-auto m-3 rounded"
            />
          </div>

          <div class="item-info grid grid-cols-4 flex-1 pt-3">
            <div class="title md:col-span-2 text-left text-3xl ml-1">
              Shinai
            </div>
            <div class="price col-start-4 md:text-xl text-center text-sm">
              $69.99
            </div>
            <div
              class="desc col-span-3 text-left text-sm md:text-xl ml-1 pr-6 py-4 max-h-36"
            >
              <p class="line-clamp-2">
                This is a Shinai with an Oval Grip. Suzaku's oval grip imitates the oval shaped grip of a "real sword".
The oval shaped grip is said to be great for Suburi as it's said that this shape promotes and makes it easier to remember the correct way to grip the Shinai.
              </p>
            </div>
            <div
              class="button flex justify-center items-end mb-6 mr-6 col-start-4"
            >
              <button
                class="text-base md:text-2xl bg-green-400 hover:bg-green-600 transition-colors duration-300 text-white md:h-16 w-32 p-2 rounded"
              >
                Details
              </button>
            </div>
          </div>
        </div>
        <div class="item mt-4 flex shadow-xl rounded col-span-2 font-inter p-1">
          <div class="image grid place-items-center">
            <img
              src="https://tozandoshop.com/cdn/shop/products/SET2036-2_db6156aa-6acf-434a-bf9e-79896c5b8b1f_340x.jpg?v=1589532235"
              alt=""
              class="w-28 h-28 md:w-36 md:h-auto m-3 rounded"
            />
          </div>

          <div class="item-info grid grid-cols-4 flex-1 pt-3">
            <div class="title md:col-span-2 text-left text-2xl ml-3">
              Shinai
            </div>
            <div class="price col-start-4 text-base md:text-xl ml-3">
              $69.99
            </div>
            <div
              class="stock col-span-3 text-left text-sm md:text-xl ml-3 pr-6 py-4"
            >
              Some quick example to build on the card's content
            </div>
            <div
              class="button flex justify-center items-end mb-6 mr-6 col-start-4"
            >
              <button
                class="text-base md:text-2xl bg-green-400 text-white md:h-16 w-32 p-2"
              >
                Details
              </button>
            </div>
          </div>
        </div>
        
        </div>
      </div>
    </main>
    <div class="add fixed bottom-2 right-2 lg:right-10 lg:bottom-10">
      <button
        class="bg-blue-500 rounded-full text-3xl w-20 h-20 md:w-28 md:h-28 text-white font-bold text-center"
      >
        +
      </button>
  </body>
</html>
