<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Katana Inventory</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="bg-black text-white text-[3rem] p-3 font-satisfy text-center">
      <div><a href="/">Katana Kaji</a></div>
    </nav>
    <main>
      <div
        class="w-[100vw] gap-3 md:w-[60vw] bg-gray-100 m-auto mb-3 md:rounded-xl shadow-2xl p-6 md:mt-6 md:mb-12 font-inter flex flex-col justify-center items-center"
      >
        <div id="name " class="flex flex-col">
          <label for="name" class="mb-3 text-xl">Name of the Katana:</label>
          <input
            type="text"
            name="name"
            placeholder="Eg: JAPANESE HOKKAIDO OAK BOKUTO "
            class="h-10 border border-black rounded-lg w-[50rem] pl-6"
          />
        </div>
        <div id="desc" class="flex flex-col">
          <label for="name" class="mb-3 text-xl">Description:</label>
          <textarea
            name="description"
            id="description"
            cols="30"
            rows="5"
            class="w-[50rem] border border-black rounded-lg p-3"
            placeholder="Eg: Not only is it robust, durable, and water-resistant, but the beauty and elegance of the oak, which is neither too heavy nor too light, makes it the ideal wood for wooden swords for kendo and other martial arts, swinging, and kata practice."
          ></textarea>
        </div>
        <div id="image" class="flex flex-col">
          <label for="name" class="mb-3 text-xl">Image URL:</label>
          <input
            type="text"
            name="image"
            placeholder="URL"
            class="h-10 border border-black rounded-lg w-[50rem] pl-6"
          />
          <input
          class="block p-3 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 w-[50rem]"
          id="file_input"
          type="file"
        />
        </div>
         <select name="" id="">
            <% categories.forEach(category => { %>
             <option value="<%= category.name %>"><%= category.name %></option>
            <% }) %>
         </select>
        </div>
      </div>
    </main>
  </body>
</html>
