<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Katana Inventory</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="bg-black text-white text-[3rem] p-3 font-satisfy text-center">
      <div><a href="/">Katana Kaji</a></div>
    </nav>
    <div>
      <form
        action=""
        method="post"
        class="flex flex-col items-center justify-start w-screen mt-24"
      >
        <h1 class="text-xl">Are you sure you want to delete this item?</h1>
        <button
          class="py-3 mt-12 text-xl border-2 border-red-600 w-[20vw] hover:bg-zinc-300 grid items-center"
        >
          Delete
        </button>
      </form>
    </div>
  </body>
</html>
